sudo: false
language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
env:
  global:
    - GIT_COMMITTED_AT=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then git log -1 --pretty=format:%ct; else git log -1 --skip 1 --pretty=format:%ct; fi)
  matrix:
    - SYMFONY_VERSION="~3.0" DOCTRINE_VERSION="~1.2"
    - SYMFONY_VERSION="~3.0" DOCTRINE_VERSION="2.0.x-dev"
    - SYMFONY_VERSION="~4.0" DOCTRINE_VERSION="~1.2"
    - SYMFONY_VERSION="~4.0" DOCTRINE_VERSION="2.0.x-dev"

matrix:
  exclude:
  - php: 7.0
    env: SYMFONY_VERSION="~3.0" DOCTRINE_VERSION="2.0.x-dev"
  - php: 7.0
    env: SYMFONY_VERSION="~4.0" DOCTRINE_VERSION="~1.2"
  - php: 7.0
    env: SYMFONY_VERSION="~4.0" DOCTRINE_VERSION="2.0.x-dev"
  - php: 7.1
    env: SYMFONY_VERSION="~3.0" DOCTRINE_VERSION="2.0.x-dev"
  - php: 7.1
    env: SYMFONY_VERSION="~4.0" DOCTRINE_VERSION="2.0.x-dev"

before_install:
  - composer self-update

install:
  - composer install --no-interaction
  - composer require --no-interaction symfony/console:${SYMFONY_VERSION}
  - composer require --no-interaction doctrine/annotations:${DOCTRINE_VERSION}

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - composer ci

after_script:
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
